@page
@model LibraryManagement_WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Login</button>
    <div style="color:red">@Model.ErrorMessage</div>
</form> 